Repository RomainBrault/python-whiteprint, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, github_actions, documentation, python, testing, dependencies, build

.github/labeler.yml:

ci:
  - .github/**

github_actions:
  - .github/workflows/*

documentation:
  - README.md
  - ./docs/**
  - ./*.md

python:
  - ./**/*.py

testing:
  - tests/**

dependencies:
  - poetry.lock

build:
  - noxfile.py
  - pyproject.toml

move codeowner
  .github/labels.yml
  .github/workflows/pr-labeler.yml
  README.md
  SECURITY.md
  poetry.lock
Labels: ci, github_actions, documentation, dependencies

docs: improve documentation (#28)
  .github/labels.yml
  .github/workflows/pr-labeler.yml
  README.md
  SECURITY.md
  poetry.lock
Labels: ci, github_actions, documentation, dependencies

move codeowner
  .github/labels.yml
Labels: ci

ci: pull request size (#29)
  .github/labels.yml
Labels: ci

move codeowner
  README.md
Labels: documentation

move codeowner
  .github/workflows/pr-labeler.yml
Labels: ci, github_actions

ci: pull request labeler (#31)
  .github/workflows/pr-labeler.yml
Labels: ci, github_actions

move codeowner
  .github/workflows/pr-labeler.yml
Labels: ci, github_actions

move codeowner
  .github/workflows/pr-labeler.yml
Labels: ci, github_actions

ci: debug pr-labeler (#32)
  .github/workflows/pr-labeler.yml
Labels: ci, github_actions

docs: improve readme (#30)
  README.md
Labels: documentation

readme
  .github/workflows/pr-labeler.yml
  README.md
  poetry.lock
Labels: ci, github_actions, documentation, dependencies

docs: readme (#33)
  .github/workflows/pr-labeler.yml
  README.md
  poetry.lock
Labels: ci, github_actions, documentation, dependencies
